body {
  padding: 0;
  margin: 0;
/*  background-image: url(../img/bg.jpg);*/
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
}

.container {
  max-width: 940px;
  padding: 20px;
  margin-left: auto;
  margin-right: auto;
}

header,
.boxes {
  padding-bottom: 20px;
  padding-top: 20px;
}

header {
  background-color: rgba(0, 0, 0, 0.3);
  color: white;
  text-align: center;
}

.boxes {
  background-color: rgba(250, 250, 215, 0.4);
}

.logo {
  text-align: center;
}

.box {
  width: 50%;
  margin-bottom: 20px;
}

.box.box-1 {
  padding: 40px;
}

.box.box-2 {
  padding: 40px;
  border: 20px solid #219cb2;
}

.box.box-3 {
  padding: 40px;
  border: 20px solid transparent;
  background-image: url(../img/bg2.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-origin: border-box;
}

.box.box-4 {
  box-sizing: border-box;
  padding: 80px;
  border: 40px solid #000;
}

.block-align .element {
  display: inline-block;
  width: 30%;
}

.table-align .element {
  display: table-cell;
  width: 1%;
}

.float-align:before, 
.float-align:after {
  display: block;
  content: "";
  clear: both;
}

.float-align .untercio,
.float-align .uncuarto,
.float-align .unmedio {
  float: left;
}
.float-align .untercio { width: 33.33% }
.float-align .uncuarto { width: 25% }
.float-align .unmedio { width: 50% }











































